pkgbase = immich-cn
	pkgdesc = Self-hosted photos and videos backup tool, with cn geodata
	pkgver = 2.5.6
	pkgrel = 1
	url = https://github.com/immich-app/immich
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = npm
	makedepends = pnpm
	makedepends = jq
	makedepends = uv
	makedepends = ts-node
	makedepends = mise
	depends = valkey
	depends = postgresql>=14
	depends = nodejs>=20
	depends = vchord.so<=0.6.0
	depends = zlib
	depends = glib2
	depends = expat
	depends = librsvg
	depends = libexif
	depends = libwebp
	depends = libjpeg-turbo
	depends = libgsf
	depends = libpng
	depends = libheif
	depends = lcms2
	depends = mimalloc
	depends = openjpeg2
	depends = openexr>=3.4.0
	depends = liblqr
	depends = libtool
	depends = jellyfin-ffmpeg
	depends = libvips>=8.17.2
	depends = openslide
	depends = poppler-glib
	depends = imagemagick
	depends = libraw
	depends = libde265
	depends = dav1d
	depends = brotli
	depends = perl-io-compress-brotli
	depends = highway
	depends = python312
	source = immich-2.5.6.tar.gz::https://github.com/immich-app/immich/archive/refs/tags/v2.5.6.tar.gz
	source = base-images::git+https://github.com/immich-app/base-images
	source = immich-server.service
	source = immich-machine-learning.service
	source = immich.sysusers
	source = immich.tmpfiles
	source = immich.conf
	source = nginx.immich.conf
	source = immich-geodata-cn.zip::https://github.com/ZingLix/immich-geodata-cn/releases/latest/download/geodata_admin_2_admin_3_admin_4_full.zip
	source = i18n-iso-countries.zip::http://github.com/ZingLix/immich-geodata-cn/releases/latest/download/i18n-iso-countries.zip
	source = 01-fix-backup-service-ts.patch
	sha256sums = 885cf36509f79fa1ed7541236b671d7eae900c80145920299be922a45a086fc5
	sha256sums = SKIP
	sha256sums = cafae91fd82ba8684e0e8cd30d71bf603c00f0cba9f70ef6f1612b49b6ace171
	sha256sums = ce6fae49e23d705b8d08205d981bb217eaf55347a499a8d0492b7ed95b520cff
	sha256sums = 01707746e8718fe169b729b7b3d9e26e870bf2dbc4d1f6cdc7ed7d3839e92c0e
	sha256sums = 4ae8a73ccbef568b7841dbdfe9b9d8a76fa78db00051317b6313a6a50a66c900
	sha256sums = 077b85d692df4625300a785eed1efdc7af8fbb8e05dfa8c7d8b4053c1eb76a58
	sha256sums = 614b56dba38f9201d8a391d0f3d2cdf5571935a1ea6c5d19a74a942f18411763
	sha256sums = c1726cfa1bf3191398e3420b1a17217c763912e599665fd62744f4c85988f249
	sha256sums = c5b91fbd29c8e43d767260fffc098340ccc35067ab130882bd6bdb6398b1cf45
	sha256sums = 475291c45ec0a20b52f7ff927ddd7299f6f9e848e01145817066ff194cd50f07

pkgname = immich-cn-server
	install = immich-server.install
	changelog = BREAKING CHANGELOG.md
	optdepends = libva-mesa-driver: GPU acceleration
	optdepends = mesa-utils: GPU acceleration
	optdepends = vulkan-driver: Vulkan support
	optdepends = nginx: Reverse proxy
	optdepends = intel-compute-runtime: OpenCL support
	optdepends = intel-media-driver: HW acceleration
	conflicts = immich
	conflicts = immich-server
	replaces = immich
	replaces = immich-server
	backup = etc/immich.conf

pkgname = immich-cn-cli
	depends = nodejs>=20
	conflicts = immich-cli
	replaces = immich-cli
