pkgbase = gcli2api-git
	pkgdesc = A server proxy Gemini Cli API to OpenAI compatible API
	pkgver = 380.153c070
	pkgrel = 1
	url = https://github.com/su-kaka/gcli2api
	install = gcli2api.install
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = uv
	depends = python312
	source = gcli2api::git+https://github.com/su-kaka/gcli2api.git
	source = gcli2api.service
	source = gcli2api.conf
	sha256sums = SKIP
	sha256sums = 1100682a01870e89b99650209060f46d9c676b098321434321c88bb24064aaec
	sha256sums = 6738c1cfd2e639d15913de3cf4a1e47a2696cc891237ee46e0085615843f59d9

pkgname = gcli2api-git
