[Unit]
Description="A server proxy Gemini Cli API to OpenAI compatible API"
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s

DynamicUser=yes

EnvironmentFile=/etc/gcli2api.conf
WorkingDirectory=/opt/gcli2api
LogsDirectory=gcli2api
StateDirectory=gcli2api
ExecStart=/opt/gcli2api/venv/bin/python web.py

[Install]
WantedBy=multi-user.target
