pkgbase = sakura-frpc
	pkgdesc = SakuraFrp client
	pkgver = 0.51.0_sakura_14
	pkgrel = 1
	url = https://www.natfrp.com/
	arch = x86_64
	license = LicenseRef-custom
	provides = sakura-frp
	provides = natfrp
	conflicts = sakura-frp
	options = !strip
	source = sakura-frpc::https://nya.globalslb.net/natfrp/client/frpc/0.51.0-sakura-14/frpc_linux_amd64
	source = sakura-frpc@.service
	source = sakura-frpc-tls@.service
	source = LICENSE::https://www.natfrp.com/policy/tos
	sha256sums = 8d3fcf1e24537719c36c6270c122fcdc09954d22ae9dd74105241675e6dce4d0
	sha256sums = ae8d7af07c2c6264c6579cf77a516336b7448588047d139fa5e858c8f20dfcb6
	sha256sums = 5a19b898213229f0a5993675d95a41cdec7865135ee24bfd600f180b7fa1ba0c
	sha256sums = 3116690ceaf2ba76eabefff86ba36d61cc0f0406f5bcab44c694d08a469bee42

pkgname = sakura-frpc
