pkgbase = spot
	pkgdesc = A platform for LTL and ω-automata manipulation (C++ library, CLI tools, and Python bindings)
	pkgver = 2.14.5
	pkgrel = 1
	url = https://spot.lre.epita.fr/
	arch = x86_64
	license = GPL-3.0-only
	makedepends = gcc
	makedepends = make
	makedepends = swig
	makedepends = python
	depends = gcc-libs
	depends = sh
	depends = libtool
	depends = python
	optdepends = graphviz: for displaying automata with dot/xdot
	optdepends = doxygen: for generating documentation
	optdepends = texlive-core: for latex output support in some tools
	optdepends = ipython: for IPython/Jupyter notebook integration
	source = https://www.lrde.epita.fr/dload/spot/spot-2.14.5.tar.gz
	sha256sums = 8703d33426eea50a8e3b7f4b984c05b8058cbff054b260863a1688980d8b8d19

pkgname = spot
